html{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body{
    margin: 0;
}
.container-first{
    background-color: rgba(34, 105, 187, 1);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-first__text{
    font-size: 60px;
    color: white;
}
.container-second{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-second__item{
    background-color: rgba(21, 69, 122, 1);
    height: 100vh;
    width: 400px;
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}
.container-second__text{
    font-size: 30px;
    color: white;
}
.container-third{
    background-color: rgba(34, 105, 187, 1);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-third__text{
    font-size: 60px;
    color: white;
}
