.flex{
    display: flex;
    justify-content: space-around;
}
.box{
    background-color: darkseagreen;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.font-one{
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
}
.font-two{
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}
.font-three{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.font-four{
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.font-five{
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}